#cover{
    background-image: url(/assets/images/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    .overlay{
        width: 100%;
        height: 100%;
        background: RGBA(88,92,233,0.8);
        .information{
            padding: 130px 0 50px;
            text-align: center;
            margin-top: 80px;
            h1{
                color: white;
                font-weight: 400;
                font-size: 36px;
                position: relative;
                text-align: center;
                &::after{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    z-index: 100;
                    background-color: white;
                    margin: 0 auto;
                }
            }
            li{
                font-weight: 400;
                font-size: 14px;
                color: #E5E9F7;
                line-height: 40px;
                a{
                    color: white;
                    
                } 
                i{
                    font-size: 9px;
                    margin-left: 7px;
                }
            }
            .active{
                margin-left: 10px;
            }
        }
    }
}
@media only screen and (min-width:1200px){
    #cover{
        background-position-y: -320px;
    }   
}