#about-services{
    padding: 100px 0 70px;
    .service-title{
        text-align: center;
        h2{
            @include section-title;
        }
        p{
            @include text($margin-bottom:50px);
        }
    }
    .service-box{
        
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            margin-bottom: 30px;
            box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.06);
            border-radius: 5px;
            transition: 0.3s;
            .service-icon{
                width: 67px;
                height: 67px;
                display: flex;
                border-radius: 50%;
                background: #F7FAFD;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                i{
                    font-size: 18px;
                    color: $main-color;
                }
            }
            .service-title{
                font-size: 16px;
                color: $secondary-color;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .service-text{
                @include text($margin-bottom: 0);
                font-size: 14px;
                text-align: center;
            }
            &:hover{
                background-color: $main-color;
                .service-title{
                    color: white;
                }
                .service-text{
                    color: white;
                }
            }
        }
    }
}